/* @import "compass/css3";

@import "compass/reset";
@import "compass/css3"; */

// Basic variables
//
$break-medium: 960px;

// Color Map
// 
$colors: (
  'green': (
  	mint: #e9fff2,
  	tint: #80d4a4,
  	base: #45ae72
  ),
  'blue': (
  	base: #46A8E3,
    tint: #7dc2eb,
    shade: #31759e
  ),
  'gray': (
  	base: #808184
  )
);

// Function to grab colors
//
@function color($color-name, $tone: base) {
    @return map-get(map-get($colors, $color-name), $tone);
}

// Border Box
//
*{
	@include box-sizing(border-box);
}

// Not a grid, but gives you the idea 
//
.full {
  width: 100%;
  float: left;
  padding: 1em;
}

.half {
  width: 50%;
  float: left;
  padding: 1em;
}

.third {
  width: 33.3%;
  float: left;
  padding: 1em;
}

// General stuff 
//
body {
	text-align: center;
	font-family: 'Lato', 'sans-serif';
	font-weight: 400;
  background-color: #4caf502e;
}

h2 {
  font-family: "Fjalla One";
}

a {
  text-decoration: none;
}

header {
  background: color("green", "tint");
  height: 200px;
  
  h2 {
    width: 100%;
    background: color("green");
    color: color("green", "tint");
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    
    em {
      color: white;
    }
    
    a {
      color: white;
    }
  }
  
  .icon {
    font-family: "Fjalla One";
    font-size: 5em;
    font-weight: 700;
    padding: 0.5em;
    color: color("green")
  }
}

// Meat and potatoes
//
form{
	padding: 4em 20%; // blaze it!
  width: 80%;
    @media (max-width: $break-medium) { width: 100%; padding: 2em 10%; }
  margin: 0 auto;
}

h2.heading{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 300;
	text-align: left;
	color: color("green");
	border-bottom: 1px dashed color("green", "tint");
	padding: 1em;
	margin-bottom: 20px;
}

.controls{
	text-align: left;
	position: relative;
	input[type="text"],
	input[type="email"],
	input[type="tel"],
	textarea,
	button,
	select{
		padding: 12px;
		font-size: 14px;
		border: 2px solid color("gray");
		width: 100%;
		color: #888;
		font-family: 'Lato', 'sans-serif';
		font-size: 16px;
		@include border-radius(4px);
		@include transition(all .2s);

		&:focus, &:hover{
			outline: none;
			border-color: color('green');
			background: color('green', 'mint');
      
			+ label{
				color: color('green');
        cursor: text;
			}
		}
	}
  
	select{
		@include appearance(none);
		cursor: pointer;
	}
  
	label{
		position: absolute;
		left: 20px;
		top: 28px;
		color: #999;
		font-size: 16px;
		display: inline-block;
		padding: 4px 10px;
		font-weight: 700;
		// @include transition(color .3s, top .3s, background-color .8s);
    transition: color 0.3s, top 0.2s, font-size 0.2s;
    
		&.active{
			top: -10px;
      left: 16px;
			color: #555;
      font-style: oblique;
      font-size: 0.8em;
		}
	}
	textarea{
		resize: none;
		height: 200px;
	}
	button{
		cursor: pointer;
		background-color: color("green");
		border: none;
		color: #fff;
		padding: 12px 0;
    margin: 1em 0;
		&:hover{
			background-color: color("green", "tint");
		}
	}
}

.heading1{
  // display: none;
	font-size: 21px;
	font-weight: 500;
	text-align: centre;
	color: color("green");
	border-bottom: 1px dashed color("green", "tint");
	padding: 1em;
	margin-bottom: 20px;
}

